{%- block checkbox_widget -%}
  <div>
    <label for="{{id}}">
      <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
    {{ translation_domain is same as(false) ? label : label|trans({}, translation_domain) }}</label>
  </div>
{%- endblock checkbox_widget -%}